__pycache__/
venv/
.venv/
scratch.py
**/temp/
*.pt # for saving pytorch models
*.bin # for pre-caching tokens
.idea/gpt-lab.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
modules/test_error_maps/
.env